<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<img src="public/image/test.png" />

<a href="/item">item setting page</a>
<br/>
<br/>
<a href="/pattern">pattern setting page </a>
<br/>
<br/>
<a href="/notice">notice setting page </a>

<!--<form action="/user" method="post">-->
    <!--<input type="text" name="firstName" placeholder="firstName"/>-->
    <!--<input type="text" name="lastName" placeholder="lastName"/>-->
    <!--<input type="text" name="email" placeholder="email"/>-->
    <!--<input type="text" name="username" placeholder="username"/>-->
    <!--<input type="text" name="password" placeholder="password"/>-->
    <!--<input type="submit" value="submit"/>-->
<!--</form>-->

<!--<form action="/user/" method="put">-->
    <!--<input type="text" name="firstName" placeholder="firstName"/>-->
    <!--<input type="text" name="lastName" placeholder="lastName"/>-->
    <!--<input type="text" name="email" placeholder="email"/>-->
    <!--<input type="text" name="username" placeholder="username"/>-->
    <!--<input type="text" name="password" placeholder="password"/>-->
    <!--<input type="submit" value="submit"/>-->
<!--</form>-->

</body>
</html>
