<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
</head>
<body>
<h1>관리자 페이지</h1>
<p>경기도박물관 - 의문의 조선</p>

<a href="/item">유물 설정 페이지</a>
<br/>
<br/>
<a href="/pattern">무늬 설정 페이지</a>
<br/>
<br/>
<a href="/notice">공지 설정 페이지</a>
</body>
</html>
