<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
<a id="kakao-link-btn" href="javascript:;" style="display: none"></a>
<script>

    // 사용할 앱의 Javascript 키를 설정해 주세요.
    Kakao.init('3928c10a89b73f2b4aa1a003fba1d0b8');

    // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createTalkLinkButton({
        container: '#kakao-link-btn',
        label: '구글스토어에 <의문의 조선>을 검색해 주세요 !',
        image: {
            src: 'http://54.165.224.112/public/image/kakao_icon.jpg',
            width: '300',
            height: '300'
        },
        webButton: {
            text: '경기도박물관 <특별전> 의문의 조선',
            url: 'https://play.google.com/store/apps/details?id=com.jj.MuseumInfo' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
        }
    });

    var kakao_btn_id = document.getElementById('kakao-link-btn');

    if( /*@cc_on ! @*/ false ) {
        // IE
        kakao_btn_id.fireEvent("onclick");
    } else {
        // Others
        var event = document.createEvent("MouseEvents");
        event.initEvent("click", false, true);
        kakao_btn_id.dispatchEvent(event);
    }
</script>

</body>
</html>
